:root
    @apply font-funnelsans bg-lightGrey text-darkBlue
    color-scheme: light dark
    font-synthesis: none
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

body
    height: auto

.theme-container
    @apply px-8 md:px-6 xl:px-0 mx-auto w-full xl:max-w-[1312px]

.theme-container-fluid
    @apply w-full px-0

.theme-grid
    @apply grid grid-cols-2 md:grid-cols-6 xl:grid-cols-12 gap-x-5 md:gap-x-4 xl:gap-x-8


/* Hard block any accidental admin-ajax links in the blog area */
#section-blog a[href*="admin-ajax.php"]
    pointer-events: none !important
    cursor: default !important

.grecaptcha-badge
  visibility: hidden