body
    text-rendering: optimizelegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    height: auto
    font-family: "Funnel Sans", system-ui, sans-serif

.theme-container
    @apply px-8 md:px-6 xl:px-0 mx-auto w-full xl:max-w-[1312px]

.theme-grid
    @apply grid grid-cols-2 md:grid-cols-6 xl:grid-cols-12 gap-x-8