
//bleed right for Swiper
.bleed-right-md-container
  width: calc(100% + (50vw - 50%))
  margin-right: calc(50% - 50vw)
  max-width: none
  overflow: visible
  -webkit-clip-path: inset(0 -50vw 0 0)
          clip-path: inset(0 -50vw 0 0)

.bleed-right-swiper
  overflow: visible

.bleed-both-md-container
  width: 100vw
  margin-left: calc(50% - 50vw)
  margin-right: calc(50% - 50vw)
  max-width: none
  overflow: visible
  -webkit-clip-path: inset(0 -50vw 0 -50vw)
          clip-path: inset(0 -50vw 0 -50vw)
              
.bleed-both-swiper
  overflow: visible

@media (min-width: 1280px)
  .bleed-both-container
    width: 100vw
    margin-left: calc(50% - 50vw)
    margin-right: calc(50% - 50vw)
    max-width: none
    overflow: visible
    -webkit-clip-path: inset(0 -50vw 0 -50vw)
            clip-path: inset(0 -50vw 0 -50vw)

@media (min-width: 768px)
  .bleed-right-md
    width: calc(100% + (50vw - 50%))
    margin-right: calc(50% - 50vw)
    max-width: none

@media (max-width: 767px)
  .bleed-sm
    width: 100dvw
    margin-left: calc(50% - 50vw)
    margin-right: calc(50% - 50vw)
    max-width: none